<nav class="grid grid-cols-3 items-center h-12 mx-8 border">
    <div class="">
        <h1 class="font-bold text-lg">SALARCON IT</h1>
    </div>
    <div>
        <ul class="flex gap-4 justify-center ">
            <li>Home</li>
            <li>Productos</li>
            <li>Info</li>
        </ul>
    </div>
    <div class="flex justify-end">
        <button (click)="openSideCard()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                data-slot="icon" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
        </button>
    </div>
</nav>

<div id="sideCard" class="flex absolute top-0 right-0 h-screen translate-x-full transition duration-300 ease-in-out">
    <aside class="bg-gray-600 text-white w-64 flex-shrink-0">
        <div class="flex justify-between items-center py-4 px-6">
            <h1 class="text-2xl font-bold">My card</h1>
            <button (click)="closeSideCard()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" data-slot="icon" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </div>
        <!-- Puedes agregar más contenido aquí si lo necesitas -->
    </aside>
</div>
