<div id="sideCard" class="fixed top-0 right-0 z-100 transition duration-300 ease-in-out" [class.translate-x-full]="hideSideCart()">
    <aside class="relative h-screen bg-gray-600 text-white w-72 flex-shrink-0">
        <div class="flex justify-between items-center py-4 px-6">
            <h1 class="text-2xl font-bold">My card</h1>
            <button (click)="toogleSideCart()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" data-slot="icon" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </div>
        <div class="grid grid-cols-1 gap-y-4 mt-4 mx-3 text-white">
            @for (product of cart(); track $index) {
                <div class="flex justify-between items-center">
                <div class="flex gap-x-2 items-center">
                    <img [src]="product.image" alt="imagen del producto" class="w-10 h-10">
                    <h3> {{ product.name }} </h3>
                </div>
                <div>
                    <p> {{ product.price }} </p>
                </div>
            </div>
            }            
        </div>
        <div class="absolute bottom-5 right-4">
            <p>Total: {{ totalPrice() }}</p>
        </div>
    </aside>
</div>
